manifest {
    mainScript = 'viromics.nf'
    nextflowVersion = '>=22.04.4'
    name ='Viromics'
    author = 'Rodrigo Hernandez Velazquez'
    description = 'Nextflow viromics wokflow'
    version = '0.0.1'
}

params {
    //Directories
    virsorter_output = 'virsorter_out'
    checkv_out = 'checkv_output'
    kaiju_out = 'kaiju_output'
    viromeQC_out = 'viromeQC_output'
    flashweave_out = 'flashweave_output'
    fastp_out = 'fastp_output'
    megahit_out = 'megahit_output'
    bowtie_out = 'bowtie_output'
    bowtie_index_out = 'bowtie_index'
    samtools_out = 'samtools_output'
    mapping_summary_out = 'mapping_summary_output'
    cobra_out = 'cobra_output'
    vsearch_out = 'vsearch_output'
    geNomad_out = 'geNomad_output'
    eggnog_mapper_out = 'eggnog_mapper_output'
    cdhit_out = 'cdhit_output'
    tim_out = 'tim_output'

    //main dir
    result_dir = 'results'
    
    //Directory containing all databases
    databases =	'databases'
    
    //Database parameters
    virsorterdb = false
    checkvdb = false
    kaijudb = false
    virushostdb = false
    geNomaddb = false
    eggnogdb = false

    //Pipeline to execute
    pipeline = ""

    //Input
    contigs = ""
    reads = ""
    matrix = ""
    phylogeny = ""
    taxonomy = ""
    viral_contigs = ""

    //Computational reosurces
    cpus = Runtime.runtime.availableProcessors()
    memory = 12

    //Program default parameters
    //viromeQC
    samp_type='environmental'

    //VirSorter2
    virsorter_minlength='1500'

    //Fastp
    phred_quality = '30'

    //MEGAHIT
    kmers_assembly = '21,35,49,63,77,91,105,119,127'

    //COBRA
    cobra_assembly = 'megahit'
    min_kmer = '21'
    max_kmer = '127'


    //HPC parameters [lsf, slurm]
    workdir = 'work'
    singularity_cachedir = 'singularity'

}


profiles {

    // Local execution profile
    local {
        executor {
            name = "local"
            cpus = params.cpus
        }
        workDir = params.workdir
        includeConfig 'nextflow/config/local.config' 
    }

    // SLURM execution profile
    slurm {
        executor {
            name = "slurm"
            queueSize = 200  // Maximum number of concurrent jobs
            perCpuMemAllocation = true
        }
        workDir = params.workdir
        includeConfig 'nextflow/config/local.config'
    }

    // Singularity containerization profile
    singularity {
        singularity { 
            enabled = true
            autoMounts = true
        }
        includeConfig 'nextflow/config/containers.config'
    }

    // Docker containerization profile
    docker {
        docker { 
            enabled = true 
        }
        includeConfig 'nextflow/config/containers.config'
    }

    // Standard profile with Singularity
    standard {
        singularity { 
            enabled = true
            autoMounts = true
        }
        includeConfig 'nextflow/config/containers.config'
    }
}





