manifest {
    mainScript = 'viromics.nf'
    nextflowVersion = '>=22.04.4'
    name ='Viromics'
    author = 'Rodrigo Hernandez Velazquez'
    description = 'Nextflow viromics wokflow'
    version = '0.0.1'
}

params {
    //Directories
    virsorter_output = 'virsorter_out'
    checkv_out = 'checkv_output'
    kaiju_out = 'kaiju_output'
    viromeQC_out = 'viromeQC_output'
    //main dir
    result_dir = 'results'
    
    //Directory containing all databases
    databases =	'databases'
    
    //Database parameters
    virsorterdb = false
    checkvdb = false
    kaijudb = false

    //Pipeline to execute
    pipeline = ""

    //Input
    fasta = ""
    reads = ""
    matrix = ""
    phylogeny = ""
    taxonomy = ""

    //Computational reosurces
    cpus = Runtime.runtime.availableProcessors()
    memory = 12

    //Program default parameters
    //viromeQC
    samp_type='environmental'

}

profiles {
    conda { 
        //Conda environments
        enabled = true
        automounts = true   
        includeConfig 'nextflow/config/conda_envs.config'
    }

    singularity {
        singularity { 
                enabled = true
                autoMounts = true
        }
        includeConfig 'nextflow/config/containers.config'
    }

    docker { 
        docker { enabled = true }
        includeConfig 'nextflow/config/containers.config'
    }

    standard { 
        singularity { 
                enabled = true
                autoMounts = true
        }
        includeConfig 'nextflow/config/containers.config'
    }
}
//singularity.enabled = true
//process.container  = 'virsorter2.sif'

