process {
withLabel: virsorter2 {container = 'jiarong/virsorter:2.2.3' }
withLabel: checkv {container = 'antoniopcamargo/checkv:0.8.1'}
withLabel: viromeqc {container = 'rhernandvel/viromeqc:latest'}
withLabel: kaiju {container = 'quay.io/biocontainers/kaiju:1.7.2--hdbcaa40_0'}
withLabel: krona {container = 'quay.io/biocontainers/krona:2.8--pl526_1'}
withLabel: flashweave {container = 'rhernandvel/flashweave:latest'}
withLabel: fastp {container = 'biocontainers/fastp:v0.20.1_cv1'}
withLabel: megahit {container = 'vout/megahit:release-v1.2.9'}
}
