process {
withLabel: virsorter2 {container = 'jiarong/virsorter:2.2.3' }
withLabel: checkv {container = 'quay.io/qiime2/pathogenome:2024.10'}
withLabel: checkv_db {container = 'quay.io/qiime2/pathogenome:2024.10'}
withLabel: cdhit {container = 'nanozoo/cdhit:4.8.1--c697693'}
withLabel: viromeqc {container = 'rhernandvel/viromeqc:latest'}
withLabel: kaiju {container = 'quay.io/biocontainers/kaiju:1.7.2--hdbcaa40_0'}
withLabel: krona {container = 'quay.io/biocontainers/krona:2.8--pl526_1'}
withLabel: flashweave {container = 'rhernandvel/flashweave:latest'}
withLabel: tim {container = 'rhernandvel/tim:latest'}
withLabel: fastp {container = 'biocontainers/fastp:v0.20.1_cv1'}
withLabel: megahit {container = 'vout/megahit:release-v1.2.9'}
withLabel: bowtie2 {container = 'biocontainers/bowtie2:v2.4.1_cv1'}
withLabel: samtools {container = 'biocontainers/samtools:v1.9-4-deb_cv1'}
withLabel: summarize {container = 'nanozoo/metabat2:2.15--c1941c7'}
withLabel: cobra {container = 'rhernandvel/cobra:latest'}
withLabel: genomad {container = 'staphb/genomad:1.8.0'}
withLabel: eggnog_mapper {container = 'nanozoo/eggnog-mapper:2.1.9--4f2b6c0'}
withLabel: vsearch {container = 'biocontainers/vsearch:v2.10.4-1-deb_cv1'}
}