process {
    withLabel: virsorter2 {     cpus = 10;           memory = '16.0 GB' }
    withLabel: checkv {         cpus = 10;           memory = '32.0 GB' }
    withLabel: viromeqc {       cpus = 12;           memory = '16.0 GB' } 
    withLabel: kaiju {          cpus = 12;           memory = '12.0 GB' } 
    withLabel: krona {          cpus = 4;            memory = '8.0 GB' }  
    withLabel: flashweave {     cpus = 8;            memory = '16.0 GB' }  
    withLabel: fastp {          cpus = 10;           memory = '16.0 GB' }
    withLabel: megahit{         cpus = 12;           memory = '32.0 GB' }
    withLabel: bowtie2{         cpus = 12;           memory = '32.0 GB' }
    withLabel: samtools{        cpus = 12;           memory = '32.0 GB' }
    withLabel: summarize{       cpus = 4;            memory = '8.0 GB' }
    withLabel: cobra{           cpus = 12;           memory = '32.0 GB' }
    withLabel: fastani_virhostdb{cpus = 12;           memory = '32.0 GB' }
    withLabel: cdhit{           cpus = 12;           memory = '32.0 GB' }
    withLabel: eggnog_mapper{   cpus = 12;           memory = '32.0 GB' }
    withLabel: genomad{         cpus = 12;           memory = '32.0 GB' }
    withLabel: vsearch{         cpus = 12;           memory = '32.0 GB' }

}